/* style.css */

.admin-course-list-table-main-container {
  margin: 32px 40px;
  border: 1px solid #fe810080;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.admin-course-list-table {
  width: 100%;
  border-radius: 8px;
  border-collapse: collapse;
}

.admin-course-list-table-head {
  background-color: #fe81001a;
  color: #1c1d1d;
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  padding: 16px;
  padding-left: 50px;
  text-align: left;
  border-right: 1px solid #e3e3e3;
  height: 58px;
}
.admin-course-list-table-head:first-child {
  border-top-left-radius: 12px;
}
.admin-course-list-table-head:last-child {
  border-top-right-radius: 12px;
}

.admin-course-list-table-head:last-child {
  border: none;
}
.admin-course-list-table-data-name-and-code {
  font-family: "Open Sans";
}
.admin-course-list-table-data {
  color: #1c1d1d;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  border-bottom: 1px solid #e3e3e3;
  padding: 8px;
  height: 50px;
  padding-left: 50px;
  border-right: 1px solid #e3e3e3;
  text-align: left;
}
.head-dropdown-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* Define colors for each status */
.status-active {
  color: #63b43c;
  border-radius: 4px;
  background: rgba(99, 180, 60, 0.1);
  width: 72px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.status-inactive {
  color: #f00;
  width: 84px;
  height: 30px;
  border-radius: 4px;
  background: rgba(255, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.admin-course-eye-icon {
  padding-left: 8px;
  text-align: center;
}
.admin-course-list-table-head-dropdown-icon-span,
.admin-course-list-table-category-dropdown-icon-span {
  cursor: pointer;
}

.admin-course-list-table-head-dropdown-main-div,
.admin-course-list-table-category-dropdown-main-div {
  position: relative;
  display: inline-block;
}

.admin-course-list-table-head-dropdown-content {
  position: absolute;
  padding: 0 24px;
  min-width: 7.5vw;
  left: -8vw;
  top: 58px;
  overflow: auto;
  border-radius: 0px 0px 16px 16px;
  border: 1px solid rgba(254, 129, 0, 0.5);
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.16);
  z-index: 1;
}
.admin-course-list-table-category-dropdown-content {
  position: absolute;
  padding: 0 24px;
  min-width: 11.3vw;
  left: -12vw;
  top: 58px;
  overflow: auto;
  border-radius: 0px 0px 16px 16px;
  border: 1px solid rgba(254, 129, 0, 0.5);
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.16);
  z-index: 1;
}

.admin-course-list-table-head-dropdown-content
  .admin-course-list-table-head-dropdown-content-span {
  padding: 12px 0;
  text-decoration: none;
  display: block;
  color: #787878;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border-bottom: 2px solid #92929233;
  cursor: pointer;
}
.admin-course-list-table-category-dropdown-content
  .admin-course-list-table-category-dropdown-content-span {
  padding: 12px 0;
  text-decoration: none;
  display: block;
  color: #787878;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border-bottom: 2px solid #92929233;
  cursor: pointer;
}
.admin-course-list-table-head-dropdown-content
  .admin-course-list-table-head-dropdown-content-span:hover {
  background-color: #f3f3f3;
}
.admin-course-list-table-category-dropdown-content
  .admin-course-list-table-category-dropdown-content-span:hover {
  background-color: #f3f3f3;
}

.show {
  display: block;
}
