/* .pagination {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination li {
    display: inline-block;
    margin-right: 5px;
  }
  
  .pagination button {
    padding: 5px 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    color: #333;
    cursor: pointer;
  }
  
  .pagination button:hover {
    background-color: #e0e0e0;
  }
  
  .pagination .active button {
    background-color: #007bff;
    color: #fff;
  } */
.css-19xm0h7-MuiButtonBase-root-MuiPaginationItem-root {
  border-radius: 12px !important; /* Set the border radius to 12px */
  width: 46px !important;
  height: 46px !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  border: 1px solid #FE8100;
}
.css-cc0r4l-MuiPagination-root .MuiPaginationItem-page {
  font-size: 16px !important;
  font-weight: 400 !important;
}
.css-1vm4etb-MuiPagination-root .MuiPaginationItem-icon {
  font-size: 24px !important;
  color: #FE8100 !important;
}
.css-1vm4etb-MuiPagination-root .MuiPaginationItem-icon::selected {
  font-size: 24px !important;
  color: #fff !important;
}
.MuiPaginationItem-root.Mui-selected {
  background-color: #FE8100 !important;
  color: #fff !important;
  width: 46px !important ;
  height: 46px !important;
}

.MuiPaginationItem-root.Mui-selected:hover {
  background-color: #FE8100;
  color: #fff;
}

.MuiPaginationItem-root:hover {
  background-color: #FE8100;
  color: #fff;
}

.MuiPaginationItem-page {
  color: #FE8100;
  border: none;
  border-radius: 12px;
  width: 46px;
  height: 46px;
}

.MuiPaginationItem-icon {
  border-radius: 12px;
  fill: #000;
}

.Mui-selected {
  background-color: #FE8100;
  color: #fff;
}

.MuiPagination-root {
  border-radius: 12px;
}

