.medical-profile-main-section {
    margin: 0 40px;
  }
  .medical-profile-heading-section {
    margin-top: 20px;
  }
  .medical-profile-heading-text {
    color: #1c1d1d;
    font-size: 24px;
    font-weight: 500;
    text-decoration: underline;
  }
  .medical-profile-cards-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 32px;
  }
  