.submit-popup-main-container {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 676px;
    height: 409px;
    border-radius: 12px;
    background: #fff;
    justify-content: center;
    align-items: center;
  }
  
  .submit-popup-main-container.open {
    display: flex;
    flex-direction: column;
  }
  
  .submit-popup-logo {
    margin-bottom: 44px;
  }
  
  .submit-popup-submit-icon {
    margin-bottom: 44px;
  }
  
  .submit-popup-texts {
    text-align: center;
  }
  
  .submit-popup-text {
    color: #1c1d1d;
    font-size: 24px;
    font-weight: 500;
  }
  .submit-popup-second-text {
    margin-top: 20px;
    color: #787878;
    font-size: 20px;
    font-weight: 500;
  }
  