.main-body main {
  width: 100% !important;
}
.stepper-container {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.step-labels-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 30px 70px 30px 70px;
  width: 70%;
}

.steps-text-and-underline-combined-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.steps-title {
  color: #787878;
  font-size: 24px;
  font-weight: 400;
}

.active-step {
  color: #fe8100;
  font-size: 24px;
  font-weight: 600;
}

.step-underline {
  display: none;
}

.active-step-underline {
  width: 100%;
  border: 1px solid #fe8100;
}

.steps-dashed-line {
  width: 25%;
  border: 2px dashed #787878;
  border-width: 2px 0 0 0;
  margin: 15px 10px 0 10px;
}

.step-label {
  text-align: center;
}

.button-container {
  top: -88px;
  position: relative;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.step-content {
  width: 90%;
  padding: 0 80px;
  display: flex;
  justify-content: center;
}
