.upload-main-section {
  width: 100%;
  border-radius: 12px;
  border: 1px solid rgba(254, 129, 0, 0.5);
}

.upload-section1-div-sections {
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: 90%;
}
.upload-learning-objective-input {
  padding: 0 24px;
  width: 96%;
  height: 105px;
  border: none;
  outline: none;
  border-radius: 8px;
  background: rgba(254, 129, 0, 0.1);
  /* text style */
  color: #1c1d1d;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.upload-div-section2 {
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.upload-section-labels {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}
.upload-div-section1 {
  gap: 32px;
  display: flex;
  padding: 32px;
  flex-direction: column;
  border-bottom: 1px solid #fe810080;
}
.upload-div-section {
  gap: 32px;
  display: flex;
  padding: 32px;
  flex-direction: column;
}
.upload-div-checkbox-main-section {
  border-top: 1px solid #fe810080;               
}
.upload-section1 {
  display: flex;
  gap: 3rem;
}
.upload-section2-div-containers {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3rem;
  grid-gap: 3rem;
  gap: 3rem;
}
.upload-preview-text {
  color: #000;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  padding: 32px 32px 0 32px;
}
.upload-section2 {
  display: flex;
  gap: 42px;
  align-items: flex-end;
}
.upload-section2-uploaded-file {
  display: flex;
  align-items: flex-end;
  gap: 12px;
}

.uploaded-video-file {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 56px;
  border-radius: 8px;
  background: #f2f2f2;
  /* text style */
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
}
.upload-file-name {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.upload-file-size {
  color: #7a7a7a;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.upload-section2-course-assessment {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.upload-assesment-radio-btn {
  accent-color: #000;
}
.upload-selected-assessment {
  margin-left: 16px;
}
.upload-course-assessment-text {
  color: #000;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  margin-left: 32px;
}
.upload-selected-assessment {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}
.upload-main-div-section {
  padding: 32px 32px 0 32px;
}
.upload-main-div-section:last-child {
  border-bottom: none;
}
.upload-text {
  color: #1c1d1d;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}
.upload-text-section span.upload-span {
  margin-left: 13px;
  color: #787878;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}
.input-field-1 {
  width: 87% !important;
  height: 1.7rem;
  border-radius: 8px;
  background: rgba(254, 129, 0, 0.1);
  border: none;
  outline: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.16);
  padding: 1rem 1.5rem;
  /* text styling */
  color: #1c1d1d;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.upload-assessment-position {
  width: 87%;
  height: 1.7rem;
  border-radius: 8px;
  background: rgba(254, 129, 0, 0.1);
  border: none;
  outline: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.16);
  padding: 1rem 1.5rem;
  /* text styling */
  color: #1c1d1d;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.upload-section-2-special {
  margin: 32px;
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(4, 1fr);
}
.upload-step-textarea {
  width: 97%;
  height: 105px;
  resize: none;
  border-radius: 8px;
  background: rgba(254, 129, 0, 0.1);
  border: none;
  outline: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.16);
  padding: 1rem 1.5rem;
  /* text styling */
  color: #1c1d1d;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.upload-date-input-field {
  width: 87%;
  height: 1.7rem;
  border-radius: 8px;
  background: rgba(254, 129, 0, 0.1);
  border: none;
  outline: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.16);
  padding: 1rem 1.5rem;
  /* text styling */
  color: #1c1d1d;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.upload-checkbox-section {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 16px;
  margin-top: 32px;
}
.upload-checkbox-section2 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 16px;
  margin-top: 32px;
}
.upload-btn-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-top: 46px;
}

.upload-div-section3 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3rem;
  gap: 3rem;
}
/* 
.date-input-row {
  margin-right: 191px;
} */
