.upload-btn {
  width: 270px;
  height: 3rem;
  border-radius: 32px;
  background: #fe8100;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.16);
  /* text styling */
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  cursor: pointer;
}
.upload-btn-format-type-text {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #7a7a7a;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.014px;
}
.upload-btn-error-message {
  color: red;
  margin-top: 4px;
  font-size: 12px;
  font-weight: 500;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  transform: translateY(-10px);
  transition: transform 0.1s linear;
}
.upload-btn-error-display {
  visibility: visible;
  transform: translateY(0);
}
