.team-report-profile-main-section {
  margin: 0 40px;
}
.team-report-hero-header {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.team-report-heading-text {
  color: #1c1d1d;
  font-size: 24px;
  font-weight: 500;
  text-decoration: underline;
}
.team-report-date-range-btn {
  width: 168px;
  height: 46px;
  padding: 11px 15px;
  border-radius: 8px;
  background: rgba(254, 129, 0, 0.1);
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #1c1d1d;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
}
