.basic-main-section {
  padding: 32px;
  display: flex;
  gap: 32px;
  /* justify-content: center; */
  flex-direction: column;
  width: 90%;
  height: 520px;
  border-radius: 12px;
  border: 1px solid rgba(254, 129, 0, 0.5);
}
.basic-div-section1 {
  width: 100%;
  display: flex;
  gap: 3rem;
}
.basic-section1-div-sections {
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: 100%;
}
.basic-learning-objective-input {
  padding: 0 24px;
  width: 96%;
  height: 105px;
  border: none;
  outline: none;
  border-radius: 8px;
  background: rgba(254, 129, 0, 0.1);
  /* text style */
  color: #1c1d1d;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.basic-div-section2 {
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.basic-section-labels {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}
.basic-div-section4 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 12px;
}



.basic-draft-button {
  position: relative;
  top: 38px;
  left: 20.5vw;
  width: 10.5rem;
  height: 2.875rem;
  border: none;
  border-radius: 32px;
  background: #fe8100;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}
