.main-body main {
  width: 100% !important;
}
.admin-course-detail-container-main-section {
  width: 95%;
  padding: 0 40px;
}
.admin-course-detail-text {
  margin-top: 8px;
  text-decoration: underline;
  color: #1c1d1d;
  font-size: 24px;
  font-weight: 500;
}
.admin-course-detail-details-main-section {
  margin: 32px 0;
  width: 100%;
  /* height: 1747px; */
  border-radius: 12px;
  border: 1px solid rgba(254, 129, 0, 0.5);
}

/*------------------------ admin-course-detail FILE CSS ------------------------------*/

.admin-course-detail-section1-div-sections {
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: 90%;
}
.admin-course-detail-learning-objective-input {
  padding: 0 24px;
  width: 96%;
  height: 105px;
  border: none;
  outline: none;
  border-radius: 8px;
  background: rgba(254, 129, 0, 0.1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.16);
  /* text style */
  color: #1c1d1d;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.admin-course-detail-div-section2 {
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.admin-course-detail-section-labels {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}
.admin-course-detail-div-section {
  gap: 32px;
  display: flex;
  padding: 32px;
  flex-direction: column;
  border-bottom: 1px solid #fe810080;
}
.admin-course-detail-section1 {
  display: flex;
  gap: 48px;
}

.admin-course-detail-section2 {
  display: flex;
  gap: 42px;
  align-items: flex-end;
}
.admin-course-detail-section2-admin-course-detailed-file {
  display: flex;
  align-items: center;
  gap: 12px;
}
.admin-course-detail-section2-div-sections {
  display: flex;
  width: 30%;
  gap: 10px;
  flex-direction: column;
}
.admin-course-detailed-video-file {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 56px;
  border-radius: 8px;
  border: 1px solid #fe8100;
}
.admin-course-detailed-file-name {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.admin-course-detail-file-name {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.admin-course-detail-file-size {
  color: #7a7a7a;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.admin-course-detail-section2-course-assessment {
  width: 100%;
  display: grid;
  column-gap: 40px;
  grid-template-columns: repeat(3, 1fr);
}
.admin-course-detail-assesment-radio-btn {
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 50%;
  outline: none;
  border: 2px solid #fe8100;
  accent-color: #e97400;
  width: 24px;
  height: 24px;
}
.admin-course-detail-assesment-radio-btn.clicked {
  border: 2px solid #fe8100;
}
.admin-course-detail-assesment-radio-btn.unClicked {
  border: 2px solid #787878;
}
.admin-course-detail-assesment-radio-btn:checked::before {
  content: ""; 
  position: absolute; 
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%); 
  width: 15px; 
  height: 15px; 
  border-radius: 50%; 
  background-color: #fe8100; 
}
.admin-course-detail-assesment-radio-btn:checked {
  background-color: #fff; /* Change the background color when checked */
}

.admin-course-detail-selected-assessment {
  margin-left: 16px;
}
.admin-course-detail-course-assessment-text {
  color: #000;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}
.admin-course-detail-selected-assessment {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}
.admin-course-detail-main-div-section {
  padding: 32px;
}
.admin-course-detail-main-div-section:last-child {
  border-bottom: none;
}
.admin-course-detail-div-checkbox-main-section {
  border-bottom: 1px solid #fe8100;
}
.admin-course-detail-text {
  color: #1c1d1d;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}
.admin-course-detail-text-section span.admin-course-detail-span {
  margin-left: 13px;
  color: #787878;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}
.input-field-1 {
  width: 87% !important;
  height: 1.7rem;
  border-radius: 8px;
  background: rgba(254, 129, 0, 0.1);
  border: none;
  outline: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.16);
  padding: 1rem 1.5rem;
  /* text styling */
  color: #1c1d1d;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.input-field-2 {
  width: 139% !important;
  height: 1.7rem;
  border-radius: 8px;
  background: rgba(254, 129, 0, 0.1);
  border: none;
  outline: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.16);
  padding: 1rem 1.5rem;
  /* text styling */
  color: #1c1d1d;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.admin-course-detail-checkbox-section {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  row-gap: 16px;
  margin-top: 32px;
}
.admin-course-detail-checkbox-section2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 16px;
  margin-top: 32px;
}
.admin-course-detail-btn-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-top: 46px;
}

.admin-course-detail-div-section3 {
  display: flex;
  align-items: center;
}

.date-input-row {
  margin-right: 191px;
}
.admin-course-detail-sec-add-module-btn {
  display: flex;
  gap: 6px;
  border: none;
  outline: none;
  background: transparent;
  align-items: center;
  font-size: 20px;
  /* color: #fe8100; */
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.1px;
  cursor: pointer;
}
.admin-course-detail-sec-add-module-btn.unClicked {
  color: #787878;
}
.admin-course-detail-sec-add-module-btn.clicked {
  color: #fe8100;
}
.admin-course-detail-assessment-radio-btns {
  display: flex;
}
.admin-course-detail-upload-btn {
  width: 168px;
  height: 46px;
  border-radius: 32px;

  border: 1px solid #7878781a;
  /* text style */

  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  cursor: pointer;
}
.admin-course-detail-upload-btn.unClicked {
  background: #7878781a;
  color: #787878;
}
.admin-course-detail-upload-btn.clicked {
  background: #fe8100;
  color: #fff;
}
.admin-course-detail-status-update-section {
  padding: 32px;
}
.admin-course-detail-status-update-div-sections {
  width: 31%;
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.admin-course-detail-section-label-status-text {
  color: #000;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}
.admin-course-detail-submit-buttons-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
  gap: 24px;
  margin-bottom: 44px;
}
