.nav-main-container {
  display: flex;
  height: 100vh;
}

.navbar {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  color: #000;
  width: 21vw;
}

.navbar-logo {
  width: 17.5vw;
  padding: 40px 22px 15px 22px;
}

.navbar-links {
  /* flex-grow: 1; */
  display: flex;
  flex-direction: column;
}

.navbar-links a {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 17.5vw;
  margin: 10px 22px;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  color: #000;
  padding: 10px;
}

.navbar-links a:hover {
  background-color: #fe81001a;
  display: flex;
  align-items: center;
  width: 16vw;
  margin: 10px 22px;
  padding: 10px;
  border-radius: 8px;
}

.navbar-links .navbutton.active {
  background-color: #fe81001a;
  display: flex;
  align-items: center;
  width: 16vw;
  margin: 10px 22px;
  padding: 10px;
  border-radius: 8px;
}

.navbar-logo button {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  font-size: 18px;
  background: #fe8100;
  width: 17.5vw;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 8px;
  padding: 10px;
}
