
.status-card-main-container {
  display: flex;
  width: 90%;
  height: 80px;
  background-image: url("../../../public/images/bg-hover-img.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
  border-radius: 12px;
  justify-content: space-between;
  padding: 30px 20px;
}

.status-card-texts-part {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.status-card-texts-part .status-card-text {
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0.05em;
  color: #fff;
}
.status-card-text-count{
  font-size: 32px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0em;
  font-family: "Open sans";
  color: #fff;
}
.status-card-icon-part {
  display: flex;
  width: 45px;
  height: 45px;
  border-radius: 8px;
  background: #ffffff3d;
  justify-content: center;
  align-items: center;
  margin-top: 6px;
}
