
.status-card-main-container {
  display: flex;
  width: 93%;
  height: 138px;
  background-image: url("../../../public/images/dashboard-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
  box-shadow: 0px 4px 4px 0px #fe81003d;
  border-radius: 12px;
  justify-content: space-between;
  padding: 25px 20px;
}
.status-card-main-container:hover {
  background-image: url("../../../public/images/bg-hover-img.svg");
}

.status-card-texts-part {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.status-card-texts-part .status-card-text {
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0em;
  font-family: "Open sans";
  color: #fff;
}
.status-card-icon-part {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background: #ffffff4d;
  justify-content: center;
  align-items: center;
}
