.team-performance-profile-main-container {
  margin: 0 40px;
}
.team-performance-profile-header-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.team-performance-profile-heading-text {
  color: #fe8100;
  font-size: 26px;
  font-weight: 600;
  line-height: 32px;
}
.team-performance-profile-description-text {
  margin-top: 8px;
  color: #787878;
  font-size: 16px;
  font-weight: 400;
}
.team-performance-profile-button {
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  justify-content: space-between;
  padding: 11px;
  width: 171px;
  height: 46px;
  border-radius: 8px;
  background: rgba(254, 129, 0, 0.1);
  /* text style */
  color: #1c1d1d;
  font-size: 18px;
  font-weight: 400;
}
.team-performance-profile-search-filter-section {
  margin-top: 27px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.team-performance-profile-filter-button {
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  justify-content: space-between;
  padding: 11px;
  width: 111px;
  height: 46px;
  border-radius: 8px;
  background: rgba(254, 129, 0, 0.1);
  /* text style */
  color: #1c1d1d;
  font-size: 18px;
  font-weight: 400;
}
.team-performance-profile-piechart-section {
  margin-top: 32px;
}
