.team-report-table-main-section {
  margin: 32px 0;
  border: 1px solid #fe810080;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.team-report-table {
  width: 100%;
  border-radius: 8px;
  border-collapse: collapse;
}
.team-report-table:first-child {
  border-top-left-radius: 12px;
}
.team-report-table:last-child {
  border-top-right-radius: 12px;
}

.team-report-table:last-child {
  border: none;
}

.team-report-table-head {
  background-color: #fe81001a;
  color: #1c1d1d;
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  padding: 16px;
  padding-left: 50px;
  text-align: left;
  border-right: 1px solid #e3e3e3;
  height: 58px;
}

.team-report-table-data {
  color: #1c1d1d;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  border-bottom: 1px solid #e3e3e3;
  padding: 8px;
  padding-left: 50px;
  border-right: 1px solid #e3e3e3;
  text-align: left;
  height: 50px;
}

.team-report-head-dropdown-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.team-report-image-data {
  width: 100px;
  height: 56px;
  border-radius: 8px;
  background: #d9d9d9;
}
.team-report-course-code-span {
  margin-right: 20px;
}
.team-report-table-number-data {
  color: rgba(28, 29, 29, 0.8);
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
.team-report-status-active {
  color: #63b43c;
  border-radius: 4px;
  background: rgba(99, 180, 60, 0.1);
  width: 100px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-report-status-inactive {
  color: #f00;
  width: 129px;
  height: 30px;
  border-radius: 4px;
  background: rgba(255, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}
