.module-main-section {
  width: 100%;
  /* height: 852px; */
  border-radius: 12px;
  border: 1px solid rgba(254, 129, 0, 0.5);
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  gap: 32px;
}

.module-div-section1 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  border-bottom: 1px solid #fe810080;
}

.module-div-section1-div1,
.module-div-section1-div2,
.module-div-section1-div3,
.module-div-section1-div4 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 126px;
}
.module-div-section1-div1,
.module-div-section1-div2,
.module-div-section1-div3 {
  border-right: 1px solid #fe810080;
}

.module-category-text {
  color: #787878;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

.module-category-type-text {
  color: #fe8100;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}
.module-div-section2 {
  display: flex;
  flex-direction: column;
  /* gap: 32px; */
  padding: 0 32px 32px 32px;
  border-bottom: 1px solid #fe810080;
}

.module-div-section3 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 0 32px 120px 32px;
}

.module-input {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  align-items: center;
}

.module-input-number,
.module-input-name,
.module-input-uplaod-btn {
  width: 100%;
  
}
.module-input-uplaod-btn {
  margin-top: 40px;
  width: 50%;
  align-items: center;
}

.module-radio-selction {
  width: 100%;
  display: grid;
  grid-gap: 32px;
  grid-template-columns: repeat(3, 1fr);
  align-content: center;
}

.module-course-assessment {
  color: #000;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}
.module-radio-btns {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.module-input-view-btn{
  display: flex;
  align-items: center;
  width: 90px;
height: 56px;
border-radius: 8px;
border: 1px solid #FE8100;
color: #000;
font-size: 16px;
font-weight: 400;
line-height: 24px; 
}

.module-course-assessment-optional-span{
  color: #787878;
font-size: 18px;
font-weight: 400;
line-height: 28px; 
}

.module-sec-add-module-btn-add-module {
  cursor: pointer;
  display: flex;
    gap: 10px;
    align-items: center;
  justify-content: center;
}

.module-sec-add-module-btn {
  display: flex;
  gap: 6px;
  border: none;
  outline: none;
  background: transparent;
  align-items: center;
  color: #fe8100;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.1px;
}
.module-container-labels {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}
.module-save-as-draft-btn {
  position: relative;
  top: -39px;
  left: 22.5vw;
  width: 10.5rem;
  height: 2.875rem;
  border: none;
  border-radius: 32px;
  background: #fe8100;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}
.module-assessment-radio-btn {
  accent-color: #000;
}
.module-download-image {
  margin: auto;
}
.module-download-image img {
  width: 2vw;
  height: 5vw;
  cursor: pointer;
}
.module-eye-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
