.designation-main-section {
  /* padding: 32px; */
  display: flex;
  /* gap: 32px; */
  /* justify-content: center; */
  flex-direction: column;
  width: 94%;
  height: 540px;
  border-radius: 12px;
  border: 1px solid rgba(254, 129, 0, 0.5);
}
.designation-main-div-section {
  padding: 32px;
  border-bottom: 1px solid #fe810080;
}
.designation-main-div-section:last-child {
  border-bottom: none;
}
.designation-text {
  color: #1c1d1d;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}
.designation-text-section span.designation-span {
  margin-left: 13px;
  color: #787878;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

/* .designation-checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */
.designation-checkbox-section {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  row-gap: 16px;
  margin-top: 32px;
}
.designation-checkbox-section2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 16px;
  margin-top: 32px;
}
.designation-btn-section{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-top: 46px;
}
.designation-public-btn{
  position: relative;
  top: 144px;
  left: 22.5vw;
  width: 10.5rem;
  height: 2.875rem;
  border: none;
  border-radius: 32px;
  background: #fe8100;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}